<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Insert title here</title>
</head>
<body>
<h1>Lista de Evento</h1>

	<table> 
	
	<thead>
	
	</thead>
	<tr> 
	<th> Id</th>
	<th> Nome</th>
	<th> Local</th>
	<th> Data</th>
	<th> Horario</th>
	</tr>
	<tbody>
		<tr th:each="e : ${eventos}">
		<td th:text=${e.id}></td>
		<td th:text=${e.nome}></td>
		<td th:text=${e.local}></td>
		<td th:text=${e.data}></td>
		<td th:text=${e.horario}></td>
		</tr>
	</tbody>
	</table>
</body>
</html>